# Tick Data Setup
_Version 1.0_

In [32]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

# load our helper functios
%run simtools.py

matplotlib.rcParams[ 'figure.figsize' ] = ( 16, 9 )

### Load and Normalize Data

In [33]:
# set up some variables
trade_file = '../Lecture 3/TSLA-trades-aug19v2.zip'
quote_file = '../Lecture 3/TSLA-quotes-aug19v2.zip'
test_day = '2018-11-01'

In [34]:
# call load trades
trades = loadtradefile(trade_file)

load trades : 2019-09-24 00:41:48:078165
load complete : 2019-09-24 00:41:49:667918
indexing trades : 2019-09-24 00:41:49:668038
index trades done : 2019-09-24 00:41:55:659444

In [35]:
# call load quotes
quotes = loadquotefile(quote_file)

load quotes : 2019-09-24 00:41:55:727952
load complete : 2019-09-24 00:42:08:586965
indexing quotes : 2019-09-24 00:42:08:587156
index quotes done : 2019-09-24 00:42:51:215895

In [36]:
quotes.head()

,exch,bid_px,bid_size,ask_px,ask_size,symbol,suffix
2019-08-01 09:30:00.221856542,A,241.34,1,243.33,1,TSLA,NaN
2019-08-01 09:30:00.415319200,C,240.88,1,243.78,1,TSLA,NaN
2019-08-01 09:30:00.415596052,N,241.34,1,243.33,1,TSLA,NaN
2019-08-01 09:30:00.833394292,Y,241.46,1,243.47,3,TSLA,NaN
2019-08-01 09:30:00.963855830,B,240.55,3,244.37,3,TSLA,NaN

In [37]:
# merge the files
taq = makeTAQfile(trades, quotes)

start merge : 2019-09-24 00:42:59:420669
end merge : 2019-09-24 00:43:04:493064

In [38]:
taq.head()

,exch,bid_px,bid_size,ask_px,ask_size,symbol,suffix_x,suffix_y,trade_size,trade_px
2019-08-01 09:30:00.221856542,A,241.34,1.0,243.33,1.0,TSLA,NaN,NaN,NaN,NaN
2019-08-01 09:30:00.393481242,NaN,NaN,NaN,NaN,NaN,TSLA,NaN,NaN,10.0,242.045
2019-08-01 09:30:00.415319200,C,240.88,1.0,243.78,1.0,TSLA,NaN,NaN,NaN,NaN
2019-08-01 09:30:00.415596052,N,241.34,1.0,243.33,1.0,TSLA,NaN,NaN,NaN,NaN
2019-08-01 09:30:00.694857858,NaN,NaN,NaN,NaN,NaN,TSLA,NaN,NaN,5.0,242.030

In [39]:
# save the file
taq.to_pickle('TSLA-TAQ-aug19.zip')