# Trading Strategy Test Harness
_Version 1.0_

In [27]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

# load our helper functios
%run simtools.py

matplotlib.rcParams[ 'figure.figsize' ] = ( 16, 9 )

### Load Merged Data

We'll assume we have already done some cleaning by using our Tick Data Setup or similar code

In [28]:
# set up some variables
tickfile = 'TSLA-TAQ-aug19.zip'
test_day = '2019-08-30'

In [29]:
# load tick data
taq = pd.read_pickle(tickfile)

In [30]:
len(taq)

10313405

In [31]:
taq.tail()

,exch,bid_px,bid_size,ask_px,ask_size,symbol,suffix_x,suffix_y,trade_size,trade_px
2019-08-30 15:59:59.991016490,Z,225.55,1.0,225.62,1.0,TSLA,NaN,NaN,NaN,NaN
2019-08-30 15:59:59.991034985,Z,225.56,1.0,225.62,1.0,TSLA,NaN,NaN,NaN,NaN
2019-08-30 15:59:59.991902659,Z,225.56,1.0,225.62,2.0,TSLA,NaN,NaN,NaN,NaN
2019-08-30 15:59:59.993930363,Z,225.56,1.0,225.62,1.0,TSLA,NaN,NaN,NaN,NaN
2019-08-30 15:59:59.994803816,Z,225.56,1.0,225.62,2.0,TSLA,NaN,NaN,NaN,NaN

In [32]:
# filter on date
day = taq[test_day]

## Main Processing Loop

In [39]:
# order parameters will go here

# ACCUMULATORS AND MARKET STATE DATA
# hold completed trades 
trade_data = pd.DataFrame( columns = [ 'price' , 'shares'], index=day.index )

# init our price and volume variables
[last_price, last_size, bid_price, bid_size, ask_price, ask_size, volume] = np.zeros(7)

# maybe a couple more
[trade_count, quote_count] = [0, 0]

# cumulative volume is nice to have too
cumulative_volume = 0

# main event loop
log_msg('starting main loop')
for index, row in day.iterrows() :
    # get each row: is it a quote or a trade?
    if pd.isna(row.trade_px): # it's a quote
        bid_price = row.bid_px
        bid_size = row.bid_size
        ask_price = row.ask_px
        ask_size = row.ask_size
        quote_count += 1
    else: # it's a trade
        last_price = row.trade_px
        last_size = row.trade_size
        trade_count += 1
        cumulative_volume += row.trade_size
        
    # algo code goes here
    
log_msg('end main loop')

starting main loop : 2019-09-24 00:54:00:533589
end main loop : 2019-09-24 00:56:06:639510

## Statistics

We'll put various metrics here, depending on what our algo is doing. For now we'll just put some basic order counts.

In [40]:
print("total quote messages: {:,}".format(quote_count))
print("total trade messages: {:,}".format(trade_count))
print("total shares trades: {:,}".format(cumulative_volume))

total quote messages: 433,338
total trade messages: 83,663
total shares trades: 8,419,878.0

In [41]:
day.trade_size.sum()

8419878.0

In [15]:
day.tail()

,exch,bid_px,bid_size,ask_px,ask_size,symbol,suffix_x,suffix_y,size,price
2019-08-30 15:59:59.991016490,Z,225.55,1.0,225.62,1.0,TSLA,NaN,NaN,NaN,NaN
2019-08-30 15:59:59.991034985,Z,225.56,1.0,225.62,1.0,TSLA,NaN,NaN,NaN,NaN
2019-08-30 15:59:59.991902659,Z,225.56,1.0,225.62,2.0,TSLA,NaN,NaN,NaN,NaN
2019-08-30 15:59:59.993930363,Z,225.56,1.0,225.62,1.0,TSLA,NaN,NaN,NaN,NaN
2019-08-30 15:59:59.994803816,Z,225.56,1.0,225.62,2.0,TSLA,NaN,NaN,NaN,NaN

In [26]:
day[pd.notna(day.price)]['size'].sum()

8419878.0